
.views-kanban {
    overflow: auto;
    white-space: nowrap;
    padding: 0;
}
.views-kanban-column-wrapper {
    display: inline-block;
    margin: 0!important;
    padding: 0 !important;
    vertical-align: top;
    background: #f0eeee;
    border: 1px darkgray solid;
}

.views-kanban-column {
    display: inline-block;
    vertical-align: top;
    margin: 0!important;
    padding: 0 !important;
    min-width: 200px
}

.views-kanban-column-wrapper h2 {
    margin: 4px;
    padding: 4px;
}

.views-kanban-column-wrapper .button-fold{
    float: right;
    margin-top: 4px;
}

.views-kanban-card, .views-kanban-placeholder {
    border: 2px solid darkgray;
    display: block;
    background: white;
    color: #5a5a5a;
    border-bottom-color: rgba(0, 0, 0, 0.3);
    width: 200px;
    margin: 4px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
    padding: 4px;
    border-radius: 3px;
    cursor: move;
    -webkit-transition: box-shadow 300ms ease-out;
    -moz-transition: box-shadow 300ms ease-out;
    -ms-transition: box-shadow 300ms ease-out;
    -o-transition: box-shadow 300ms ease-out;
    transition: box-shadow 300ms ease-out;
}

.views-kanban-placeholder {
    opacity: 0.5;
    height: 60px;
}

.views-kanban-card:hover {
    box-shadow: 0 5px 10px royalblue;
    border: 2px blue solid;
}